<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.immihelper.immigrationhelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImmigrationHelper">
        <activity android:name="com.immihelper.immigrationhelper.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.immihelper.immigrationhelper.Kor.KorActivity"/>
        <activity android:name="com.immihelper.immigrationhelper.Kor.KorDocumentActivity"/>
        <activity android:name="com.immihelper.immigrationhelper.Kor.KorReservationActivity"/>
        <activity android:name="com.immihelper.immigrationhelper.Kor.KorGuideActivity"/>
        <activity android:name="com.immihelper.immigrationhelper.Kor.KorSafetyActivity"/>
        <activity android:name="com.immihelper.immigrationhelper.Kor.KorFeeActivity"/>
        <activity android:name="com.immihelper.immigrationhelper.Kor.KorVisaActivity"/>
        <activity android:name="com.immihelper.immigrationhelper.Eng.EngActivity"/>
        <activity android:name="com.immihelper.immigrationhelper.Eng.EngDocumentActivity"/>
        <activity android:name="com.immihelper.immigrationhelper.Eng.EngReservationActivity"/>
        <activity android:name="com.immihelper.immigrationhelper.Eng.EngGuideActivity"/>
        <activity android:name="com.immihelper.immigrationhelper.Eng.EngSafetyActivity"/>
        <activity android:name="com.immihelper.immigrationhelper.Eng.EngFeeActivity"/>
        <activity android:name="com.immihelper.immigrationhelper.Eng.EngVisaActivity"/>
    </application>

</manifest>