<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.immigrationhelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImmigrationHelper">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Kor.KorActivity"/>
        <activity android:name=".Kor.KorDocumentActivity"/>
        <activity android:name=".Kor.KorReservationActivity"/>
        <activity android:name=".Kor.KorGuideActivity"/>
        <activity android:name=".Kor.KorSafetyActivity"/>
        <activity android:name=".Kor.KorFeeActivity"/>
        <activity android:name=".Kor.KorVisaActivity"/>
        <activity android:name=".Eng.EngActivity"/>
        <activity android:name=".Eng.EngDocumentActivity"/>
        <activity android:name=".Eng.EngReservationActivity"/>
        <activity android:name=".Eng.EngGuideActivity"/>
        <activity android:name=".Eng.EngSafetyActivity"/>
        <activity android:name=".Eng.EngFeeActivity"/>
        <activity android:name=".Eng.EngVisaActivity"/>
    </application>

</manifest>